@import 'gallery_functions'; // импорт функций

// ИСХОДНЫЕ ДАННЫЕ:

// базовое разрешение
$gallery-large-resolution: (
  
  'switch' : true,
  'screen-width' : 1366px,

  'parent-padding' : 0,

  'j-gallery-width' : 100%,
  'gallery-max-width' : 940,

  'boxes-number' : 7,

  'box-margin-left' : 10,
  'j-box-margin-bottom' : 100px,

  'j-central' : true,

);


// среднее разрешение
$gallery-medium-resolution: (

  'switch' : false,
  'screen-width' : 670px,

  'parent-padding' : 20,

  'j-gallery-width' : 100%,
  'gallery-max-width' : 630,

  'boxes-number' : 3,

  'box-margin-left' : 20,
  'j-box-margin-bottom' : 70px,

  'j-central' : false,

);

// маленькое разрешение
$gallery-small-resolution: (

  'switch' : false,
  'screen-width' : 767px,

  'parent-padding' : 20,

  'j-gallery-width' : 100%,
  'gallery-max-width' : 100,

  'boxes-number' : 7,

  'box-margin-left' : 10,
  'j-box-margin-bottom' : 70px,

  'j-central' : false,

);

// 1ое доп. разрешение
$gallery-add-resolution-1: (

  'switch' : false,
  'screen-width' : 1px,

  'parent-padding' : 20,

  'j-gallery-width' : 100%,
  'gallery-max-width' : 100,

  'boxes-number' : 7,

  'box-margin-left' : 10,
  'j-box-margin-bottom' : 70px,

  'j-central' : false,

);

@import 'gallery_mixins'; // импорт миксинов и других необходимых плюх



