
@import 'gallery_settings'; // импорт настроек и миксинов


/* j-gallery */

.j-gallery {

	// подключение миксина базовых разрешений
	@if(map-get($gallery-large-resolution, 'switch')) { 
		@include mix-j-gallery_large-resolution;
	};
	// подключение миксина средних разрешений
	@if(map-get($gallery-medium-resolution, 'switch')) { 
		@include mix-j-gallery_medium-resolution;
	};
	// подключение миксина маленьких разрешений
	@if(map-get($gallery-small-resolution, 'switch')) { 
		@include mix-j-gallery_small-resolution;
	};
	// подключение миксина дополнительного брейкпоинта
	@if(map-get($gallery-add-resolution-1, 'switch')) { 
		@include mix-j-gallery_add-resolution-1;
	};
	
}

.j-gallery * { box-sizing: border-box; }

.j-gallery__wrap { // обертка для компенсации отступа боксов по всем линиям
	
	// подключение миксина базовых разрешений
	@if(map-get($gallery-large-resolution, 'switch')) { 
		@include mix-j-gallery__wrap_large-resolution;
	};
	// подключение миксина средних разрешений
	@if(map-get($gallery-medium-resolution, 'switch')) { 
		@include mix-j-gallery__wrap_medium-resolution;
	};
	// подключение миксина маленьких разрешений
	@if(map-get($gallery-small-resolution, 'switch')) { 
		@include mix-j-gallery__wrap_small-resolution;
	};
	// подключение миксина дополнительного брейкпоинта
	@if(map-get($gallery-add-resolution-1, 'switch')) { 
		@include mix-j-gallery__wrap_add-resolution-1;
	};

}

.j-gallery__box {

	float: left;

	// подключение миксина базовых разрешений
	@if(map-get($gallery-large-resolution, 'switch')) { 
		@include mix-j-gallery__box_large-resolution;
	};
	// подключение миксина средних разрешений
	@if(map-get($gallery-medium-resolution, 'switch')) { 
		@include mix-j-gallery__box_medium-resolution;
	};
	// подключение миксина маленьких разрешений
	@if(map-get($gallery-small-resolution, 'switch')) { 
		@include mix-j-gallery__box_small-resolution;
	};
	// подключение миксина дополнительного брейкпоинта
	@if(map-get($gallery-add-resolution-1, 'switch')) { 
		@include mix-j-gallery__box_add-resolution-1;
	};

	position: relative;
	z-index: 1;

}

.j-gallery__img {
	
	display: block;

	background-color: transparent;
	background-size: cover;
	background-position: 50% 50%; 

	margin-left: auto; 
	margin-right: auto; 

	padding-top: 50%; 
	padding-bottom: 50%; 

}

.j-gallery__caption {

	position: absolute;

	display: block;
    height: 55px;
    bottom: -55px;
    left: 2%;
    text-align: center;
    font-size: 90%;
    width: 96%;
    font-size: 0.875rem;
    padding-top: 5px;
    
	text-overflow: ellipsis;

	z-index: 1;

}
